Hello, #{user.name}

%h3
  pages

= haml :page_add_partial

%hr

- page_ids_and_names.each do |id_and_name|
  %div
    - name = id_and_name[1]
    %a{:href => "/p/#{name}"}
      = name

%h2 tags

%table
  - tags.each do |tag|
    %tr
      %td
        = tag
      %td
        - page_names = UserPageTags.new(user, nil).get_pages_for_tag_with_name(tag).map{|page| page.name}
        - page_names.each do |page_name|
          %a{:href => "/p/#{page_name}"}
            = page_name
          &nbsp;
