#index_ns_id

  = haml :header_partial, :locals => {:page_name => nil}

  Hello, #{user.name}

  %h3
    pages

  - page_ids_and_names.each do |id_and_name|
    %div
      - name = id_and_name[1]
      %a{:href => "/p/#{name}"}
        = name

  %h2 tags

  %table
    - tags.each do |tag|
      = haml :tag_row_partial, :locals => {:tag => tag, :user => user}
