:javascript
  window.pageName = "#{viewmodel.name}";

%div
  %a{:href => "/"}
    home
%div
  %a{:href => "/p/#{viewmodel.name}/edit"}
    edit

%h3
  = viewmodel.name()

= viewmodel.rendered_markdown()

= haml :pagetags_partial
