#page_recent_ns_id

  = haml :header_partial, :locals => {:page_name => nil}

  %h1
    Edited

  - edited_pages.each do |page|
    %div
      - key_combo = generator.next_uniq_char_combo(length:3)
      %span.key_combo_cls= key_combo
      %a{:href => "/p/#{page.name}"}
        = page.name

  %h1
    Viewed

  - viewed_pages.each do |page|
    %div
      - key_combo = generator.next_uniq_char_combo(length:3)
      %span.key_combo_cls= key_combo
      %a{:href => "/p/#{page.name}"}
        = page.name
