:javascript
  window.pageName = "#{viewmodel.name}";

%div
  %a{:href => "/"}
    home
%div
  %a{:href => "/p/#{viewmodel.name}/edit"}
    edit

%h3
  %form{:action => "/p/#{viewmodel.name}/rename", :method => "post"}
    %input{:type => "text", :name => "new_name", :value => viewmodel.name}

= viewmodel.rendered_markdown()

= haml :pagetags_partial

= haml :page_delete_partial, :locals => {:page => viewmodel.page}
