#page_ns_id

  - if mode == :normal

    :javascript
      window.pageName = "#{viewmodel.name}";

    = haml :header_partial, :locals => {:page_name => viewmodel.name}

    %h3
      %form{:action => "/p/#{viewmodel.name}/rename",
        :method => "post",
        "ng-controller" => "TokenNameCtrl",
        "ng-init" => "init('#{viewmodel.name}')"}

        %input.new_name_cls{:type => "text", :name => "new_name",
          "ng-model" => "tokenName", "ng-change" => "normalize()"}

  .rendered_markdown_cls
    ~ viewmodel.rendered_markdown()

  - if mode == :normal
    = haml :pagetags_partial
    = haml :page_delete_partial, :locals => {:page => viewmodel.page}
    = haml :page_duplicate_partial, :locals => {:page => viewmodel.page}

    - if viewmodel.page.readonly_sharing_token
      %div
        readonly sharing:
        %a{:href => "/s/#{viewmodel.page.readonly_sharing_token}"}
          #{viewmodel.page.readonly_sharing_token}

    - if viewmodel.page.readwrite_sharing_token
      %div
        readwrite sharing:
        %a{:href => "/s/#{viewmodel.page.readwrite_sharing_token}"}
          #{viewmodel.page.readwrite_sharing_token}

