#page_search_ns_id

  = haml :header_partial, :locals => {:page_name => nil}

  %h3
    #{pages_where_name_matches.size} pages with matching names

  - pages_where_name_matches.each do |page|
    %div
      %a{:href => "/p/#{page.name}"}
        = page.name

  %h3
    #{pages_where_text_matches.size} pages with matching text

  - pages_where_text_matches.each do |page|
    %div
      %a{:href => "/p/#{page.name}"}
        = page.name

  %h3
    #{tags_where_name_matches.size} tags with matching names
  %table.tag_table_cls
    - tags_where_name_matches.each do |tag|
      = haml :tag_row_partial, :locals => {:tag => tag, :user => user}
