#page_recent_ns_id

  = haml :header_partial, :locals => {:page_name => nil}

  How many:
  - [25, 50, 100, 250].each do |how_many|
    %a{:href => "?how_many=#{how_many}"}
      = how_many
    &nbsp;

  %h1
    Edited

  - edited_pages.each do |page|
    %div
      %a{:href => "/p/#{page.name}"}
        = page.name

  %h1
    Viewed

  - viewed_pages.each do |page|
    %div
      %a{:href => "/p/#{page.name}"}
        = page.name
