#page_ns_id

  :javascript
    window.pageName = "#{viewmodel.name}";

  = haml :header_partial, :locals => {:page_name => viewmodel.name}

  %h3
    %form{:action => "/p/#{viewmodel.name}/rename", :method => "post"}
      %input.new_name_cls{:type => "text", :name => "new_name", :value => viewmodel.name}

  .rendered_markdown_cls
    = viewmodel.rendered_markdown()

  = haml :pagetags_partial

  = haml :page_delete_partial, :locals => {:page => viewmodel.page}
