%tr
  %td
    .name_cls
      = tag
    %form.rename_tag_form_cls{:action => "/t/#{tag}/rename",
      :method => "post",
      "ng-controller" => "TokenNameCtrl", "ng-init" => "init('#{tag}')"}

      %input.new_name_cls{:type => "text", :name => "new_name", :size => "64",
      :maxlength => "64", "ng-model" => "tokenName", "ng-change" => "normalize()"}

  %td
    - x = UserPageTags.new(user, nil)
    - page_names = x.get_pages_for_tag_with_name(tag).map{|page| page.name}

    - page_names.each do |page_name|
      %a{:href => "/p/#{page_name}"}
        = page_name
      - if newline_per_tag
        %br
      - else
        &nbsp;
